.card-container {
   
    height: 45%;
    width: 15%;
    background-color: cadetblue;
    
  
  }
  .img-container{
      width: 100%;
      height: 80%;
      display: flex;
      background-color: aqua;
  }